// Import the typography styles.
//
// MDC Typography
//
@use '@material/typography/mdc-typography';
@use '@material/typography/index' as typography;

html,
body {
	padding: 0;
	margin: 0;
}

.container {
	padding: 30px;
}
